:root {
  --main-yellow: #fbba18;
  --main-black: #363f44;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
}

h2 {
  margin: auto;
  font-size: 2em;
}

/*Test */
#home {
  background: var(--main-black);
  overflow: hidden;
  z-index: -1;
}

.container-intro {
  font-size: 32pt;
  line-height: 36pt;
  color: white;
  width: 100vw;
  height: 100vh;
  text-align: left;
}

.container-intro .intro {
  z-index: 2 !important;
}

.container-intro .card-intro {
  margin: 0 0 20px 0;
  text-align: center;
}

.container-intro #intro-name {
  color: var(--main-yellow);
  font-family: 'Raleway-semibold', sans-serif;
  margin: 0.25em 0;
}

@keyframes locationAnimation {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.container-intro #location {
  width: 30px;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: locationAnimation;
  animation-name: locationAnimation;
  animation-delay: 1.25s;
  animation-duration: 2s;
}
.container-intro .button {
  line-height: 18px;
  border: 2px solid #fff;
  font-size: 16pt;
  padding: 12px 20px 12px 20px;
  position: relative;
  margin-bottom: 53px;
  transition: all 0.5s;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.container-intro .button:hover {
  background: var(--main-yellow);
  border-color: var(--main-yellow);
}

.nav-button {
  margin-top: 10px;
}

.heading-primary--main {
  display: block;
  font-size: 0.9em;
  /* font-weight: 400; */
  margin-bottom: 1rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-primary--sub {
  display: block;
  font-size: 0.7em;
  animation-delay: 1.5s;
  animation: moveInRight 1s ease-out;
}

.hello {
  margin: 0;
  margin-bottom: 1rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*Nav bar*/
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-links {
  height: 100%;
}
.fa-times {
  display: none;
}

nav {
  height: 50px;
  background: #1b242f;
  border-bottom: var(--main-yellow) 3px solid;
  z-index: 99;
}
nav a {
  padding: 15px;
  color: #fff;
  font-size: 12pt;
  line-height: 18pt;
  text-decoration: none;
}

.page-link:hover {
  cursor: pointer;
}
.page-link:hover a {
  color: var(--main-yellow);
  font-weight: bold;
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

/* Technologies */
.techs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#technologies {
  background-color: #fff;
  text-align: center;
}

#technologies h2 {
  padding: 10px;
  margin: auto;
  color: var(--main-black);
}

#technologies .tech {
  width: 15%;
  padding: 10px;
  margin: 10px;
  transition: transform 0.2s;
}

#technologies .tech:hover {
  transform: scale(1.25);
}

/* Projects*/
#projects {
  background-color: var(--main-black);
  color: var(--main-black);
  padding-bottom: 20px;
}

#projects h2 {
  padding: 10px;
  color: #fff;
  text-align: center;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.image-container {
  position: relative;
  width: 45%;
  height: 45%;
  margin: 1.66%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover .card .app-links a {
  pointer-events: initial;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
  height: 100%;
  margin: auto;
}

.card .author {
  font-size: 2.5vw;
  margin: 0;
}

.card ul {
  list-style: none;
  margin: 0;
  padding-left: 15px;
}
.card .tags {
  font-size: 1.25vw;
}
.card .tags ul {
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
  justify-items: stretch;
  align-content: start;
}

.card .tags ul li {
  list-style-type: circle;
  margin: 1.6%;
}

.card .app-links {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.card .app-links a {
  text-decoration: none;
  color: inherit;
  pointer-events: none;
}
.card .app-links ul {
  padding: 0;
}

.card .app-links ul li {
  font-size: 2.5vw;
  margin: 0 10px 5px 10px;
  display: inline;
}
#view-work {
  text-decoration: none;
  color: inherit;
}

/*Contact */

.contact-info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info .contact-section {
  margin-top: 50px;
  color: var(--main-black);
  margin-bottom: 0;
  text-align: center;
  letter-spacing: normal;
}

.contact-info #dash {
  margin: 15px 0 40px 0;
  background: var(--main-black);
  width: 120px;
  height: 1px;
}

.contact-info #email-container {
  text-align: center;
}

.contact-info #email {
  text-decoration: none;
  color: var(--main-black);
  font-size: 12pt;
  text-align: center;
  margin: 0;
  letter-spacing: 2px;
}

.contact-info #email:hover {
  font-weight: bold;
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

.contact-info .link-git {
  margin-top: 20px;
  padding-bottom: 30px;
}

.contact-info .link-git ul li {
  display: inline-block;
  margin: 10px;
}
.contact-info .link-git ul li svg,
.contact-info .link-git ul li img {
  width: 30px;
}

.contact-info .link-git ul li svg:hover,
.contact-info .link-git ul li img:hover {
  transform: scale(1.25);
}

/* about */

.about-me {
  padding: 30px 0 50px;
  background-color: var(--main-yellow);
}
#about {
  color: var(--main-black);
  margin-bottom: 0;
  text-align: center;
  letter-spacing: normal;
}

.about-me-des {
  width: 80%;
  margin: auto;
  line-height: 1.75;
}

.about-me-connect {
  text-align: center;
  margin-top: 20px;
}

.about-me-connect a {
  text-decoration: none;
  color: var(--main-black);
  font-size: 12pt;
  font-weight: bold;
}

.about-me-connect a:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

/* Footer */
footer {
  padding: 20px;
  font-weight: bold;
  color: #fff;
  background-color: var(--main-black);
  text-align: center;
}

/* Media Queries */

@media (min-width: 1300px) {
  .card ul {
    padding-left: 25px;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .sticky {
    position: fixed;
  }
  .gallery {
    width: 100%;
  }
  .project-wrap {
    width: 95%;
  }
  nav {
    width: 100%;
    overflow: hidden;
    display: none;
  }
  nav .nav-links {
    height: 100vh;
    background: #1b242f;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
  }
  nav .nav-links .cross {
    display: block;
    color: #e31b6d;
    font-size: 30pt;
    position: fixed;
    top: 30px;
    right: 30px;
  }
  nav .wrap {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 60%;
    margin: 0;
  }
  nav .wrap .page-link {
    width: 100%;
    padding: 50px;
    text-align: center;
  }
  nav .wrap .page-link a {
    font-size: 32pt;
    padding: 20px 100px;
  }
  #menu {
    color: white;
    font-size: 24pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #menu .fa-bars {
    padding: 8px;
    margin-right: 20px;
    z-index: 1;
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cards .col1 {
    order: 1;
  }
  .cards .col2 {
    order: 3;
  }
  .cards .col3 {
    order: 2;
  }
  .cards .col4 {
    order: 4;
  }
  .card {
    flex: 1 50%;
  }
  .frameworks {
    order: 3;
  }
  .gallery {
    width: 100%;
  }
  #about {
    padding-bottom: 0;
  }
}

@media (min-width: 769px) {
  .nav-links {
    display: block !important;
  }
}

@media (max-width: 500px) {
  .container {
    width: 90%;
  }
  .text {
    font-size: 24pt;
  }
  .wrap {
    width: 100% !important;
  }
  .page-link {
    width: unset !important;
  }
  .card {
    flex: 1 100%;
  }
  .gallery {
    flex-direction: column;
  }
  .block {
    width: 100%;
  }
  .hello {
    padding-left: 5px;
  }
  .button {
    width: 40%;
    margin: auto;
  }
  .nav-button {
    display: flex;
  }
  #technologies .tech {
    width: 20%;
  }
  .image-container {
    width: 45%;
  }
  .card .tags ul li {
    font-size: 1.5vw;
    font-weight: bold;
  }
  .container-intro #intro-name {
    display: block;
    margin: 0.25em 0;
  }
}
